body{
	background-color:#8FBC8F;
}
h1{
	text-align:center;
	color:lightblue;
}
form{
	color:olive;
	margin-top:50px;
	margin-left:45%;
	}
	
#message{
	text-align:center;
	margin-top:10%;
	font-size:large;
	color:ivory;
}

	

